/* !-----Pre-Sets-----! */

* {
  padding: 0px ;
  margin: 0px !important;
  font-family: roboto-mono;
  border: none;
  text-decoration: none;
  outline: none;
}

/* Font */
@font-face {
  font-family: roboto-mono;
  src: url(../font/RobotoMono-VariableFont_wght.ttf);
  font-weight: normal;
}

body {
  background: var(--primary) !important;
  color: var(--text) !important;
}

/* Scroll Bar */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) transparent;
  border-radius: 15px;
}

html::-webkit-scrollbar {
  width: 1vw;
  border-radius: 15px;
}
html::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 15px;
}
html::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary);
}
html::-webkit-scrollbar-track {
  background: transparent;
}

.background {
  background: -moz-linear-gradient(90deg, #002853 0%, #040c18 100%);

  background: -webkit-linear-gradient(90deg, #002853 0%, #040c18 100%);

  background: -o-linear-gradient(90deg, #002853 0%, #040c18 100%);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040C18', endColorstr='#002853', GradientType=0 );

  background: -ms-linear-gradient(90deg, #002853 0%, #040c18 100%);

  background: linear-gradient(90deg, #002853 0%, #040c18 100%);
}
.mt--3 {
  margin-top: -10px;
}

.gradient-text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.header-text {
  font-size: 55px;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-top {
  padding-top: 190px;
}
.margin-top{
  margin-top: 50px !important;
}
.padding-bottom {
  padding-bottom: 225px;
}

.outlined-button {
  color: var(--text);
  border: 1px solid var(--text);
  border-radius: 10px;
  padding: 7.5px 15px;
  text-decoration: none;
  background: transparent;
  text-align: center;
}

.outlined-button:hover {
  transition: 0.5s ease-in-out;
  background-color: var(--text);
  color: var(--primary);
}
.button {
  color: var(--primary);
  border: 1px solid var(--text);
  border-radius: 10px;
  padding: 7.5px 15px;
  text-decoration: none;
  background: var(--text);
  text-align: center;
}

.button:hover {
  transition: 0.5s ease-in-out;
  background-color: transparent;
  color: var(--text);
}

.outline{
  padding: 20px ;
  margin: 10px !important;
  border: 1px solid var(--text);
  border-radius: 10px;
}


.font-size{
  font-size: 240px;
}

.navbar a h1{
  font-size: 40px;
}


@media screen and (max-width: 991px) {
  .about{
    text-align: center;
  }
  .about-logo{
    display: none;
  }
  .padding-top {
    padding-top: 125px;
  }
  .padding-bottom {
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 400px){
  .navbar{
    padding-left: 10px;
  }
  .font-size{
    font-size: 140px;
  }
  .header-text{
    font-size: 30px;
  }
}

@media screen and (max-width: 300px) {
  .navbar a h1{
    font-size: 25px;
  }
  .outline{
    padding: 8px;
  }
  .outlined-button{
    padding: 5px 10px; 
  }
}