/* !-----Pre-Sets-----! */

* {
  padding: 0px !important;
  margin: 0px !important;
  font-family: roboto-mono;
  border: none;
  text-decoration: none;
  outline: none;
}

/* Font */
@font-face {
  font-family: roboto-mono;
  src: url(../font/RobotoMono-VariableFont_wght.ttf);
  font-weight: normal;
}

body {
  background: var(--primary) !important;
  color: var(--text) !important;
}

/* Scroll Bar */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) transparent;
}

html::-webkit-scrollbar {
  width: 1vw;
}
html::-webkit-scrollbar-thumb {
  background: var(--secondary);
}
html::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary);
}
html::-webkit-scrollbar-track {
  background: transparent;
}

.background {
  background: -moz-linear-gradient(90deg, #002853 0%, #040c18 100%);

  background: -webkit-linear-gradient(90deg, #002853 0%, #040c18 100%);

  background: -o-linear-gradient(90deg, #002853 0%, #040c18 100%);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040C18', endColorstr='#002853', GradientType=0 );

  background: -ms-linear-gradient(90deg, #002853 0%, #040c18 100%);

  background: linear-gradient(90deg, #002853 0%, #040c18 100%);
}
.mt--3 {
  margin-top: -10px;
}

.gradient-text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.header-text {
  font-size: 55px;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-top {
  padding-top: 195px !important;
}

.padding-bottom {
  padding-bottom: 925px !important;
}
